Source: sam2p
Section: graphics
Priority: optional
Maintainer: Rogério Brito <rbrito@gmail.com>
Build-Depends:
 debhelper (>= 10~),
 docbook-xsl-ns,
 perl,
 xsltproc
Standards-Version: 3.9.5
Homepage: https://github.com/pts/sam2p
Vcs-Git: https://github.com/rbrito/pkg-sam2p.git
Vcs-Browser: https://github.com/rbrito/pkg-sam2p

Package: sam2p
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Recommends:
 libjpeg-progs,
 netpbm
Description: convert raster images to EPS, PDF, and other formats
 sam2p is a command line utility that converts many raster
 (bitmap) image formats like GIF, JPG/JPEG, and PNG into
 PostScript or PDF files. PS or EPS files created by sam2p are
 usually not much larger than the source file.
